<h1><%= @project.title %></h1>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>
<time class="project-days-left">
  <%= icon('clock-o') %>
  <%= "#{time_ago_in_words(@project.end_date)} #{( @project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %>
</time>


<h2>Pledges</h2>
<%= form_for [@project, Pledge.new] do |f| %>
  <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
  <%= f.submit "Pledge" %>
<% end %>
<br>
<b>Total Money Pledged:</b> $<%= @project.pledges.sum(:dollar_amount) %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>

  <p>
    <small>
      <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
    </small>
  </p>
<% end %>

<%= link_to "Add new reward", new_project_reward_path(@project) %>

<h4>Add New Comment</h4>

<%= form_for([@project, @comment]) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %><br />
    <%= f.label :user_comment %><br />
    <%= f.text_area :user_comment %><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Comments:</h2>

<ol>
  <% @project.comments.each do |comment| %>
    <li>
      <p> On <%= comment.created_at %> <%= comment.name %> said: </p>
      <p> <%= comment.user_comment %> </p>
    </li>
  <% end %>
</ol>
